.proyectos {
    padding: 5%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 10px;
}




/* Fila 1 */

.container-proyectos-game {
    border-radius: 15px;
    width: 50%;
    height: 75%;
    background-color: white;
    box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    display: flex;
    flex-direction: column;
}

/* Fila 2 */

.container-proyectos-title {
    color: white;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    width: 100%;
    letter-spacing: 1rem;
    margin: 1% 0%;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

/* Fila 3 */

.container-proyectos-web {
    border-radius: 15px;
    align-self: flex-end;
    width: 50%;
    height: 75%;
    background-color: white;
    box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 9px 9px 106px -36px rgba(0, 0, 0, 0.75) inset;
    display: flex;
    flex-direction: column;
}

/* general */

.row-proyectos-top
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-proyectos {
    font-style: italic;
    font-size: 3rem;
    height: auto;
}


.row-proyectos-mid
{
    display: flex;
    flex-direction: column;
    height: 80%;
}

.project-title
{
    font-size: 2rem;
}

.project-text
{
    font-size: 1.5rem;
}

.img-proyecto
{
    width: 100%;
    height: 210px;
}


.row-proyectos-dow
{
    display: flex;
    height: 10%;
    justify-content: space-around;
    text-align: center;
}

.btn-proyectos-l
{
    width: 50%;
    border: 2px solid rgb(143, 143, 143);
    border-radius: 0 0 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-proyectos-r
{
    width: 50%;
    border: 2px solid rgb(143, 143, 143);
    border-radius: 0 0 15px 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}



@media screen and (min-width: 180px) and (max-width: 1280px) {

    .proyectos {
        justify-content: space-around;
    }

    .container-proyectos-game {
        align-self: center;
        width: 90%;
    }

    .container-proyectos-title {
        font-size: 2rem;
    }

    .container-proyectos-web {
        align-self: center;
        width: 90%;
    }

    .img-proyecto
    {
        width: 100%;
        height: auto;
        overflow: hidden;
    }



}