

/*  Navegacion */

.container-nav{
    position: fixed;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid red;
    width: auto;
}

.btn-nav{

}

.btn-nav:hover{

}


/*  -------------------------------------------------- */

/* Responsive */

@media screen and (min-width: 180px) and (max-width: 1280px){


}

/*  -------------------------------------------------- */